# Normalize line endings
* text=auto eol=lf

# Explicitly declare text files
*.py text
*.md text
*.json text
*.yml text
*.yaml text
*.txt text
*.csv text

# Denote binary files
*.xlsx binary
*.png binary
*.jpg binary
*.ico binary
